<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name ="dbcon" connectionString="server=localhost;database=db_stock_management;username=root;password="/>
  </connectionStrings>
   <appSettings>
    <add key="Path" value="D:\Software Engineering\Course\TOP UP\Application Development\Applications C#\POS\ADPOS\"/>
  </appSettings>
</configuration>